/* turned the entire page into a flexbox to center and align the content */
body {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

/* this will center the game status bar */
.game-status-bar {
    background-color: gray;
    display: flex;
    padding: 20px;
    border-radius: 8px;
}

/* This will control the game status text */
.game-status {
    color: white;
}

/* This will put the boxes inside to the left and right side */
.player-boxes {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 600px;
    height: 250px;
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
}

/* This will put the vs-text in the center of the two boxes */
.player-boxes h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 50%);
    margin: 0;
    font-size: 2rem;
    text-align: center;
}

/* Ensure the player boxes are properly aligned */
.player-1-box, .player-2-box {
    border: 3px solid #00183e;
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Fit the images inside the player boxes */
.box-1-image, .box-2-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

/* This will fit the buttons and spaced evenly */
.choice-buttons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
    width: 500px;
}

/* This controls the size of the buttons */
.rock-button, .paper-button, .scissors-button {
    width: 105px;
}

/* This controls the scoreboard */
.scoreboard {
    border-radius: 8px;
    background-color: #00183e;
    display: flex;
    padding: 20px;
}

/* This controls the text inside the score board */
.player-score, .computer-score {
    color: white;
    margin-left: 20px;
    margin-right: 20px;
}

/* This controls the bar the visually separates the scores */
.score-separator {
    width: 2px;
    height: 50%;
    background-color: black;
    margin: 0 20px; 
}